# Database Configuration
DB_HOST=db.iruslmryvpeawnidkkeh.supabase.co
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=RHSf1is4eBEWHCoR

KEY = vghdogcdwryihnçz4689065fsrwmHftdeuisvmqwpovcdgfus
ALG=HS256
# JWT Configuration
JWT_SECRET=vghdogcdwryihnçz4689065fsrwmHftdeuisvmqwpovcdgfus


# Frontend URL (for CORS)
FRONTEND_URL=https://gta-tech.vercel.app

# App Configuration
APP_ENV=production
APP_DEBUG=false
